$post-background: #ffffff;
$text: #000000;
$background: #f5f5f5;
$border-color: #edeff1;
$post-side-margin: 5px;
$post-side-padding: 10px;
$post-margin-bottom: 15px;
$hover: rgba(85, 205, 252, 0.4);
$min-width: 492px;
