* {
  margin: 0;
  padding: 0;
  border: unset;
  font-family: "Arvo";
}

body {
  background-color: #f5f5f5;
}

a {
  text-decoration: none;
  color: #0079d3;
}

.container {
  display: flex;
  flex-flow: row wrap;
  max-width: 100%;
  max-height: 100%;
  min-height: 100%;
  width: 960px;
  margin: 0 auto;
  padding-top: 48px;
}

.hint-container {
  position: relative;
  display: flex;
  text-align: center;

  &:hover .hint {
    display: flex;
  }
}

.hint {
  display: none;
  position: absolute;
  top: 110%;
  left: -30%;
  width: fit-content;
  z-index: 3;
  padding: 4px;
  font-family: "Lato Bold";
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.8);
  user-select: none;

  &::after {
    content: "";
    position: absolute;
    display: block;
    bottom: 100%;
    left: calc(50% - 5px);
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid rgba(0, 0, 0, 0.8);
  }
}
